@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .app {
        @apply text-white bg-[#0f142f] font-poppins
    }
}

@layer components {
    .text-gradient {
        @apply bg-gradient-to-r from-cyan-500 to-blue-500;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    header {
        @apply inset-x-0 z-30 fixed overflow-x-hidden duration-300 transition-all ease-out
    }

    .onScroll {
        @apply fixed bg-gray-900 border-b border-gray-800
    }

    .nav-menu {
        @apply backdrop-blur-xl bg-gray-900/80 duration-300 fixed inset-0 lg:backdrop-blur-none lg:bg-transparent lg:border-r-0 lg:shadow-none lg:static lg:translate-x-0 lg:w-auto peer-checked:translate-x-0 transition translate-x-[-100%] w-[calc(100%-6.5rem)]
    }
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}