@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .app {
        @apply text-white bg-[#0f142f] font-poppins
    }
}

@layer components {
    .text-gradient {
        @apply bg-gradient-to-r from-cyan-500 to-blue-500;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}